# Ignore RStudio project files
.Rproj.user/
.Rhistory
*.RData
.Ruserdata
*.Rproj
*.Rmd

# Ignore DS Store files
.DS_Store


#Ignore the folder
*/

#Ignore  the csv files
*.csv


#ignore json files
*.json

*.toml

*.ipynb

#ignore the tex and pdf files
*.tex
*.pdf
